.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header-list-contacts{
    display: flex;
  }
  
  .header-container{
    display: flex;
    align-items: center;
  }
  .header{padding-top: 25px;
    padding-bottom: 25px;
    border-bottom:  1px solid #ECECEC;
   }
  .header-nav{
    display: flex;
    align-items: center;
  }
    .header-list{
      display: flex;
    }
  .web{color: var(--interactive-color);
    }
  .header-li:not(:last-child){
    margin-right: 50px;
  }

    
  .header-link{
    
    font-family: var(--secondary-font);
    margin-right: 93px;
    align-self: center;
    text-decoration: none;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    
    color: var(--primary-color)
    
    }
    .header-list-contacts{
     margin-left: auto;
    }
     
    .link{font-family:var(--primary-font);
     
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      
      color: var(--primary-color);
      }
      .link-studio:active,
      .link-studio:visited {
        color: var(--interactive-color);
      }
      .link,.link-studio{
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        color         : var(--primary-color);
        font-weight   : 500;
        font-size     : 14px;
        line-height   : 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition:color var(--transit-time) var(--transition-properties);

      }
      .link-studio::after {
          position: absolute;
          content: "";
          display: block;
          bottom: 0;
          width: 100%;
          height: 4px;
          background:var(--interactive-color);
          border-radius: 2px;
          transition: transform var(--transit-time) var(--transition-properties);
          }
          .link-portfolio{
             position: relative;
          padding-top: 32px;
          padding-bottom: 32px;
          color         : var(--primary-color);
          font-weight   : 500;
          font-size     : 14px;
          line-height   : 1.2;
          letter-spacing: 0.02em;
          text-decoration: none;
          transition:transform var(--transit-time) var(--transition-properties);
          }
          .link-portfolio::after{
            position: absolute;
          content: "";
          display: block;
          bottom: 0;
          width: 100%;
          height: 4px;
          background:var(--interactive-color);
          border-radius: 2px;
          transition: transform var(--transit-time) var(--transition-properties);
          }
      .link-portfolio:active,
      .link-portfolio:visited {
        color: var(--interactive-color);
      }
      .link:focus,
      .link:hover {background-color: var(--header-color);
        color: var(--interactive-color);
      
      cursor: pointer;}

      .contacts-item:not(:last-child) {
        margin-right: 50px;
      }
    .contacts{
    
      
      font-family: var(--primary-font);
     
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
      transition:color var(--transit-time) var(--transition-properties);
    }
    .contacts:focus,
    .contacts:hover {
      color: var(--interactive-color);
    }
    .contacts:focus svg,
    .contacts:hover svg{
    fill: var(--interactive-color);
    }
      
    .envelope{
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill:var(--secondary-color);
      transition:  fill var(--transit-time) var(--transition-properties);
    }
    .icon-Vector{
      width: 10px;
      height: 16px;
      margin-right: 10px;
      fill:var(--secondary-color);
      transition: fill var(--transit-time) var(--transition-properties);
      
    }