.staff{background-color: var(--rear-background);
    padding-top: 94px;
    padding-bottom: 94px;
    }
    .staff-list{
      display: flex;
    }
    .staff-box{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .staff-name{
      margin-bottom: 10px;
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--primary-color);
      }
      .staff-position{
        font-family:var(--primary-font);
        font-weight: normal;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--secondary-color) ;
        }
        .staff-block-foto:not(:last-child){
          margin-right: 30px;
        }
        .staff-block-foto{
          background-color: var(--header-color);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 0px 0px 4px 4px;
        }
        .social-icon{
          width: 20px;
          height: 20px;
          transition:  fill var(--transit-time) var(--transition-properties);
        }
        .social-list{
          display: flex;
          justify-content: center;
          margin-top: 16px;
        }
        .social-link{
          display: block;
          width: 44px;
          height: 44px;
          background-color:var(--header-color);
          border-radius: 50%;
          fill: #AFB1B8;
          text-align: center;
          padding-top: 12px;
          transition: background-color var(--transit-time) var(--transition-properties);
        }
        .social-link:focus,
        .social-link:hover  {
        background-color: var(--interactive-color);
        
        }
        .social-link:focus svg,
        .social-link:hover svg{
          fill:var(--header-color);
         
        }
        .social-paragraph:not(:last-child){
          margin-right: 10px;
        }